<header class="bg-zinc-900 flex flex-col md:flex-row justify-between gap-3 p-20 rounded-xl mt-2 text-center md:text-left">    
    <div>

    <h1 class="text-5xl font-bold">Deja tu queja</h1>
    <p  class="my-4 text-2xl">Plataforma donde reflejar tus quejas como ciudadano</p>
    <button class="bg-teal-600 px-3 py-2 hover:bg-teal-500">
        Empieza ya
    </button>
    </div>
    <img src="favicon.svg" alt="avatar" class="w-80">
</header>