---
import servicios from './servicios.json';
---

<div class="bg-zinc-900 rounded-xl my-10 flex flex-col md:flex-row md:p-20">
    <div class="flex-1 grid grid-cols-2 gap-4 pb-20 md:pb-0">
      {
      servicios.map((servicio) => 
      <div class="text-center mx-10 my-10">
        <img src={servicio.imagen} class="w-40 m-auto" />
        <p class="text-zinc-300 text-xl mt-4">{servicio.titulo}</p>
      </div>)
      }

    </div>
    <div class="justify-center flex-1 flex flex-col gap-y-10 text-center mx-8">
      <h2 class="text-zinc-300 font-bold text-5xl">¿Qué servicios ofrece Queja Ciudadana?</h2>
      <p class="text-3xl text-zinc-300">
        Con Queja Ciudadana coloca el poder de la voz ciudadana directamente en tus manos. Nuestra misión es fortalecer la conexión entre los ciudadanos
      </p>
    </div>
</div>