---
import { supabase } from "../../../public/supabase.js";

const { email } = Astro.locals;

let { data: usuario, error } = await supabase
  .from("Usuario")
  .select("*")
  .eq("email", email);
---

{
  usuario &&
    usuario.map((usuario) => (
      <div class="my-5 lg:my-6 lg:mx-56 mx-5 text-center pb-10">
        <div class="inline-block">
          <div class="flex flex-col sm:flex-row items-center mb-4">
            <div class="text-center text-xl font-bold text-teal-900 dark:text-teal-300 py-2 px-10 mr-9 lg:mr-3">
              Nombre
            </div>
            <div class="text-center bg-teal-300 dark:bg-teal-200 border-teal-600 py-2 px-10">
              {usuario.nombre}
            </div>
          </div>
          <div class="flex flex-col sm:flex-row items-center mb-4">
            <div class="text-center text-xl font-bold text-teal-900 dark:text-teal-300 py-2 px-10 lg:mr-0 mr-9">
              Apellidos
            </div>
            <div class="text-center bg-teal-300 dark:bg-teal-200 border-teal-600 py-2 px-10">
              {usuario.apellidos}
            </div>
          </div>
          <div class="flex flex-col sm:flex-row items-center mb-4">
            <div class="text-center text-xl font-bold text-teal-900 dark:text-teal-300 py-2 px-10 mr-9">
              Email
            </div>
            <div class="text-center bg-teal-300 dark:bg-teal-200 border-teal-600 py-2 px-10">
              {usuario.email}
            </div>
          </div>
          <div class="flex flex-col sm:flex-row items-center mb-4">
            <div class="text-center text-xl font-bold text-teal-900 dark:text-teal-300 py-2 px-10 mr-9 lg:mr-1">
              Teléfono
            </div>
            <div class="text-center bg-teal-300 dark:bg-teal-200 border-teal-600 py-2 px-10">
              {usuario.telefono}
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-6">
          <a
            href="/api/auth/signout"
            class="bg-teal-400 dark:bg-teal-500 font-semibold hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950 px-4 py-2"
          >
            Cerrar sesión
          </a>
        </div>
      </div>
    ))
}
