---
import { supabase } from "../../../public/supabase.js";

const { email } = Astro.locals;

let { data: usuario, error } = await supabase
  .from("Usuario")
  .select("*")
  .eq("email", email);
---

{
  usuario &&
    usuario.map((usuario) => (
      <div class="bg-zinc-900 rounded-xl my-5 lg:my-10 lg:mx-20 mx-5 text-center pb-10">
        <div class="inline-block">
          <h2 class="text-zinc-300 font-bold mt-10 text-center lg:text-2xl text-xl">
            Nombre
          </h2>
          <div class="text-center bg-zinc-800 rounded py-2 px-10 my-2">
            {usuario.nombre}
          </div>

          <h2 class="text-zinc-300 font-bold mt-10 text-center lg:text-2xl text-xl">
            Apellidos
          </h2>
          <div class="text-center bg-zinc-800 rounded py-2 px-10 my-2">
            {usuario.apellidos}
          </div>

          <h2 class="text-zinc-300 font-bold mt-10 text-center lg:text-2xl text-xl">
            Email
          </h2>
          <div class="text-center bg-zinc-800 rounded py-2 px-10 my-2">
            {usuario.email}
          </div>

          <h2 class="text-zinc-300 font-bold mt-10 text-center lg:text-2xl text-xl">
            Teléfono
          </h2>
          <div class="text-center bg-zinc-800 rounded py-2 px-10 my-2 mb-14">
            {usuario.telefono}
          </div>
          <a
            href="/api/auth/signout"
            class="bg-teal-600 font-bold px-5 py-2 hover:bg-teal-500 mt-3 text-teal-950"

          >
            Cerrar sesión
          </a>
        </div>
      </div>
    ))
}
