---
import { supabase } from "../../../public/supabase.js";

const { email } = Astro.locals;

let { data: usuario, error } = await supabase
  .from("Usuario")
  .select("*")
  .eq("email", email);
---

{
  usuario &&
    usuario.map((usuario) => (
      <div class="bg-teal-600 rounded-xl my-5 lg:my-6 lg:mx-56 mx-5 text-center pb-10">
        <h1 class="text-teal-950 font-bold mt-5 pt-5 lg:text-xl">
          Estos son tus datos como ciudadano:
        </h1>
        <div class="inline-block">
          <h2 class="text-neutral-100 font-bold mt-5 text-center lg:text-xl text-l">
            Nombre
          </h2>
          <div class="text-center bg-teal-100 rounded py-2 px-10 my-2">
            {usuario.nombre}
          </div>

          <h2 class="text-neutral-100 font-bold mt-6 text-center lg:text-xl text-l">
            Apellidos
          </h2>
          <div class="text-center bg-teal-100 rounded py-2 px-10 my-2">
            {usuario.apellidos}
          </div>

          <h2 class="text-neutral-100 font-bold mt-6 text-center lg:text-xl text-l">
            Email
          </h2>
          <div class="text-center bg-teal-100 rounded py-2 px-10 my-2">
            {usuario.email}
          </div>

          <h2 class="text-neutral-100 font-bold mt-6  text-center lg:text-xl text-l">
            Teléfono
          </h2>
          <div class="text-center bg-teal-100 rounded py-2 px-10 my-2 mb-7 ">
            {usuario.telefono}
          </div>
          <a
            href="/api/auth/signout"
            class="bg-teal-300 rounded font-bold px-4 py-2 hover:bg-teal-200 text-teal-900"
          >
            Cerrar sesión
          </a>
        </div>
      </div>
    ))
}
