<section class="bg-zinc-900 p-8 md:p-20 rounded-xl my-4 lg:mx-20 mx-5">
    <h2 class="text-4xl md:text-5xl lg:text-5xl font-bold my-5 text-center text-teal-400">
      Mi Perfil
    </h2>
    <p class="text-lg md:text-3xl lg:text-3xl text-zinc-300 text-center">
      Consulta tus datos como ciudadano/a
    </p>
  </section>