<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5 text-center text-teal-400">
      Mis publicaciones
    </h2>
    <p class="text-zinc-300 text-3xl text-center">
        Tu rincón personal donde hacer que tu voz sea escuchada. Expresa, comparte y resuelve"
    </p>
  </section>
  