---
const { email } = Astro.locals;
---

<form id="quejaForm" enctype="multipart/form-data">
  <div
    class="my-5 lg:my-10 text-center pb-10 lg:mx-56 mx-5"
  >
    <h2
      class="font-bold mt-10 text-center lg:text-2xl text-l text-teal-950 dark:text-teal-500 my-10 pt-10"
    >
      Introduzca los datos de su queja
    </h2>
    <div class="inline-block">

      <input type="hidden" id="email" value={email}>  

      <div class="grid grid-cols-1 gap-2">
        <label for="imagen" class="font-semibold text-teal-900 dark:text-neutral-100 text-xl mb-3"
          >Imagen</label
        >
        <input
          id="imagen"
          type="file"
          name="imagen"
          accept="image/*"
          class="py-1 px-3 border bg-teal-200 dark:bg-teal-200 border-teal-600 mb-8"
        />
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="titulo" class="font-semibold text-teal-900 dark:text-neutral-100 text-xl mb-3"
          >Título</label
        >
        <input
          id="titulo"
          type="text"
          name="titulo"
          class="py-1 px-3 border bg-teal-200 dark:bg-teal-200 border-teal-600 mb-8"
        />
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label
          for="descripcion"
          class="font-semibold text-teal-900 dark:text-neutral-100 text-xl mb-3">Descripción</label
        >
        <textarea
          id="descripcion"
          name="descripcion"
          rows="6"
          class="py-1 px-3 border bg-teal-200 dark:bg-teal-200 border-teal-600 mb-8"
        ></textarea>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="categoria" class="font-semibold text-teal-900 dark:text-neutral-100 text-xl mb-3"
          >Categoría</label
        >
        <select
          id="categoria"
          name="categoria"
          class="py-1 px-3 border bg-teal-200 dark:bg-teal-200 border-teal-600 mb-8"
        >
          <option value="Infraestructura / Urbanismo"
            >Infraestructura / Urbanismo</option
          >
          <option value="Servicios Públicos">Servicios Públicos</option>
          <option value="Transporte / Movilidad">Transporte / Movilidad</option>
          <option value="Medio Ambiente">Medio Ambiente</option>
          <option value="Seguridad">Seguridad</option>
          <option value="Educación / Salud">Educación / Salud</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="distrito" class="font-semibold text-teal-900 dark:text-neutral-100 text-xl mb-3"
          >Distrito</label
        >
        <select
          id="distrito"
          name="distrito"
          class="py-1 px-3 border bg-teal-200 dark:bg-teal-200 border-teal-600 mb-8"
        >
          <option value="Bellavista - La Palmera"
            >Bellavista - La Palmera</option
          >
          <option value="Casco Antiguo">Casco Antiguo</option>
          <option value="Cerro - Amate">Cerro - Amate</option>
          <option value="Este - Alcosa - Torreblanca"
            >Este - Alcosa - Torreblanca</option
          >
          <option value="Los Remedios">Los Remedios</option>
          <option value="Macarena">Macarena</option>
          <option value="Nervión">Nervión</option>
          <option value="San Pablo - Santa Justa"
            >San Pablo - Santa Justa</option
          >
          <option value="Norte">Norte</option>
          <option value="Sur">Sur</option>
          <option value="Triana">Triana</option>
        </select>
      </div>

      <button
        id="publicarQueja"
        class="bg-teal-300 dark:bg-teal-500 font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950"
        >Publicar queja</button
      >

      <script src="./insertQueja.js"></script>
    </div>
  </div>
</form>
