---
import Base from "../layout/Base.astro";
---
<Base title="Sobre nosotros">
    <h1 class="text-teal-700 dark:text-teal-300 text-xl lg:text-3xl font-bold lg:mx-52 mx-5 mb-5">
        Acerca de QuejaCiudadana
    </h1>

    <div class="flex items-center justify-center lg:mx-60 mx-7">
        <div>
            <img src="/logoQC.png" style="width: 60rem;" />
        </div>
        <div>
            <p class="text-teal-950 dark:text-teal-50 mx-7 text-sm lg:text-xl mt-2">
                QuejaCiudadana es una plataforma creada para empoderar a los ciudadanos y mejorar la calidad de vida en nuestras comunidades. Nuestra aplicación permite a los usuarios publicar quejas, sugerencias y comentarios sobre la ciudad y sus servicios, con el objetivo de fomentar el diálogo cívico y promover la rendición de cuentas de las autoridades locales.
            </p>
        </div>
    </div>


    <p class="text-teal-950 dark:text-teal-50 mx-7 text-sm lg:text-xl lg:mx-60 mt-2">
        En QuejaCiudadana, creemos en la importancia de la participación ciudadana en la construcción de ciudades más inclusivas, seguras y sostenibles. Al proporcionar una plataforma para que los ciudadanos expresen sus preocupaciones y contribuyan a la mejora de su entorno, esperamos promover un mayor compromiso cívico y fortalecer la democracia local.
    </p>

    <p class="text-teal-950 dark:text-teal-50 mx-7 text-sm lg:text-xl lg:mx-60 mt-2">
        Nuestro equipo está comprometido con la transparencia, la privacidad y la seguridad de los datos de nuestros usuarios. Trabajamos continuamente para mejorar nuestra plataforma y brindar una experiencia segura y satisfactoria para todos los usuarios.
    </p>

    <p class="text-teal-950 dark:text-teal-50 mx-7 text-sm lg:text-xl lg:mx-60 mt-2">
        Gracias por utilizar QuejaCiudadana y por contribuir a la construcción de comunidades más fuertes y responsables.
    </p>
    <div class="flex justify-center">
        <button
            class="bg-teal-300 dark:bg-teal-500 font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950 mt-5"
            onclick="window.history.back()">Volver</button
        >
    </div>
</Base>
