---
import Base from "../layout/Base.astro";
---

<Base title="Política de privacidad">
    <h1 class="text-teal-700 dark:text-teal-300 text-xl lg:text-3xl font-bold lg:mx-52 mx-5">
        Política de Privacidad de QuejaCiudadana
    </h1>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        1. Introducción
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        En QuejaCiudadana, valoramos y respetamos la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted proporciona al utilizar nuestra aplicación. Al utilizar QuejaCiudadana, usted acepta las prácticas descritas en esta política.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        2. Información del Responsable
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        QuejaCiudadana es propiedad y está operada por la Universidad de Sevilla, ubicada en Avenida Reina Mercedes s/n. Si tiene alguna pregunta sobre esta Política de Privacidad, puede comunicarse con nosotros en universidaddesevilla@us.es.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        3. Recopilación de Datos
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Recopilamos información personal que usted proporciona voluntariamente al registrarse en QuejaCiudadana, incluyendo su nombre, dirección de correo electrónico, número de teléfono y dirección física. Además, cuando usted publica quejas sobre la ciudad, podemos recopilar información relacionada con el problema reportado, incluida su ubicación y cualquier archivo adjunto como imágenes o videos.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        4. Uso de la Información
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        La información que recopilamos se utiliza para proporcionar, mantener y mejorar los servicios de QuejaCiudadana. Utilizamos la información para responder a sus consultas y solicitudes, enviarle notificaciones importantes y comunicarnos con usted sobre su uso de la aplicación. También utilizamos la información para analizar y mejorar la experiencia del usuario, desarrollar nuevos servicios y funciones, y llevar a cabo investigaciones y análisis.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        5. Compartir Información
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        No compartimos su información personal con terceros, excepto en las siguientes circunstancias: cuando sea necesario para proporcionar nuestros servicios y funciones; cuando tengamos su consentimiento; cuando sea requerido por ley o proceso legal; o cuando creamos de buena fe que la divulgación es necesaria para proteger nuestros derechos, su seguridad o la seguridad de otros usuarios.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        6. Seguridad de la Información
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Nos comprometemos a proteger la seguridad de su información personal. Utilizamos medidas de seguridad físicas, electrónicas y administrativas para proteger contra el acceso no autorizado, la alteración y la divulgación de su información personal. Sin embargo, tenga en cuenta que ninguna medida de seguridad es completamente infalible, y no podemos garantizar la seguridad absoluta de su información.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        7. Sus Derechos y Elecciones
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Usted tiene derecho a acceder, corregir, actualizar o eliminar su información personal en cualquier momento. También puede optar por no recibir comunicaciones de nosotros al ajustar la configuración de su cuenta. Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad o el manejo de su información personal, comuníquese con nosotros en quejaciudadana@gmail.com.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        8. Cambios en Esta Política
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Cualquier cambio importante será notificado a través de la aplicación o por correo electrónico. Le recomendamos que revise periódicamente esta política para estar al tanto de cualquier cambio o actualización.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        9. Consentimiento
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Al utilizar QuejaCiudadana, usted acepta nuestra recopilación, uso y divulgación de su información personal de acuerdo con esta Política de Privacidad. Si no está de acuerdo con los términos de esta política, por favor no utilice nuestra aplicación.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        10. Contacto
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Si tiene alguna pregunta, comentario o inquietud sobre nuestra Política de Privacidad, comuníquese con nosotros en quejaciudadana@gmail.com. Estamos comprometidos a abordar cualquier problema y responder a sus preguntas de manera oportuna y profesional.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-2xl font-bold mx-6 lg:mx-56 mt-5">
        11. Vigencia de la Política
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:text-lg lg:mx-60 mt-2">
        Esta Política de Privacidad entra en vigencia a partir del 1 de Mayo de 2024.
    </p>
</Base>
