---
import Base from "../layout/Base.astro";
---

<Base title="Términos de Uso">
    <h1 class="text-teal-700 dark:text-teal-300 text-xl lg:text-3xl font-bold lg:mx-52 mx-5">
        Términos de Uso de QuejaCiudadana
    </h1>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        1. Aceptación de los Términos
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Al utilizar QuejaCiudadana, usted acepta cumplir con estos Términos de Uso y todas las leyes y regulaciones aplicables. Si no está de acuerdo con estos términos, por favor no utilice nuestra aplicación.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        2. Uso de la Aplicación
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        QuejaCiudadana es una plataforma diseñada para que los ciudadanos publiquen quejas y comentarios sobre la ciudad y sus servicios. Usted acepta utilizar la aplicación de manera responsable y respetuosa, evitando la publicación de contenido ilegal, difamatorio, obsceno o perjudicial para otros usuarios o para la comunidad en general.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        3. Contenido Generado por el Usuario
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Usted es responsable del contenido que publica en QuejaCiudadana. Al publicar contenido, usted otorga a QuejaCiudadana una licencia no exclusiva, transferible, sublicenciable, libre de regalías y mundial para usar, reproducir, modificar, adaptar, distribuir y mostrar dicho contenido en relación con los servicios de la aplicación.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        4. Propiedad Intelectual
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Los derechos de propiedad intelectual de QuejaCiudadana, incluyendo derechos de autor, marcas registradas y patentes, pertenecen a la Universidad de Sevilla. Usted se compromete a no copiar, modificar, distribuir, vender o sublicenciar cualquier parte de la aplicación sin autorización previa por escrito.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        5. Modificaciones y Actualizaciones
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Nos reservamos el derecho de modificar o actualizar estos Términos de Uso en cualquier momento sin previo aviso. Le recomendamos que revise periódicamente los términos para estar al tanto de los cambios. El uso continuado de QuejaCiudadana después de la publicación de cambios constituirá su aceptación de dichos cambios.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        6. Limitación de Responsabilidad
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        QuejaCiudadana se proporciona "tal cual" y "según disponibilidad". No ofrecemos garantías de ningún tipo, ya sean explícitas o implícitas, incluyendo, pero no limitándose a, garantías de comerciabilidad, adecuación para un propósito particular, o no violación de derechos de terceros. No seremos responsables de ningún daño directo, indirecto, incidental, especial, emergente o punitivo que resulte del uso de QuejaCiudadana.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        7. Ley Aplicable
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Estos Términos de Uso se regirán e interpretarán de acuerdo con las leyes del país de residencia de QuejaCiudadana, sin tener en cuenta conflictos de principios legales. Cualquier disputa relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales de dicha jurisdicción.
    </p>

    <h2 class="text-teal-800 dark:text-teal-500 text-l lg:text-xl font-bold mx-6 lg:mx-56 mt-5">
        8. Contacto
    </h2>
    <p class="text-teal-950 dark:text-teal-50 font-semibold mx-7 text-sm lg:mx-60 mt-2">
        Si tiene alguna pregunta o inquietud sobre estos Términos de Uso, comuníquese con nosotros en quejaciudadana@gmail.com.
    </p>
    <div class="flex justify-center">
        <button
            class="bg-teal-300 dark:bg-teal-500 font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950 mt-5"
            onclick="window.history.back()">Volver</button
        >
    </div>
</Base>

