---
import Base from "../layout/Base.astro";
import UsuariosMejorValoradosComponent from "../components/estadisticas/usuariosMejorValorados";
---

<Base title="Usuarios mejor valorados">
    <UsuariosMejorValoradosComponent client:only />
    <div class="flex justify-center">
        <button
            class="bg-teal-300 dark:bg-teal-500 rounded font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950 mt-5"
            onclick="window.history.back()">Volver</button
        >
    </div>
    <script>
        if (!window.location.hash) {
            window.location.hash = 'loaded';
            window.location.reload();
        }
    </script>

</Base>
