---
import { supabase } from "../../../public/supabase.js";

const { id } = Astro.params;
const { email } = Astro.locals;

let { data: usuarioId } = await supabase
  .from("Usuario")
  .select("*")
  .eq("email", email);

let { data: comentario, error } = await supabase
  .from("Comentario")
  .select("*")
  .eq("queja", id);

for (let i = 0; i < comentario.length; i++) {
  let { data: usuario, error } = await supabase
    .from("Usuario")
    .select("*")
    .eq("id", comentario[i].usuario);
  comentario[i].nombreUsuario = usuario[0].nombre + " " + usuario[0].apellidos;
}
---

<h2
  class="text-teal-800 dark:text-teal-400 text-3xl font-bold mb-10 text-center"
>
  Comentarios de la publicación
</h2>
{
  comentario &&
    comentario.map((comentario) => (
      <div class="bg-teal-400 rounded my-2 sm:mx-20 sm:my-6 lg:my-10 py-3 lg:mx-56 mx-5 p-10">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <h2 class="text-teal-900 font-bold text-l lg:text-xl mr-4">
              {comentario.nombreUsuario}
            </h2>
            <div class="text-teal-500 flex">
              {[...Array(comentario.estrellas)].map(() => (
                <img src="/star_yellow.svg" />
              ))}
              {[...Array(5 - comentario.estrellas)].map(() => (
                <img src="/star_grey.svg" />
              ))}
            </div>
          </div>
          <h2 class="text-teal-800 font-bold text-l my-4">
            {comentario.fecha.substring(0, 10)}{" "}
            {comentario.fecha.substring(11, 16)}
          </h2>
        </div>
        <p class="lg:text-l mb-3 font-semibold text-neutral-700">
          {comentario.descripcion}
        </p>
      </div>
    ))
}
<form id="comentarioForm" style="display: none;" enctype="multipart/form-data">
  <div
    class="bg-teal-500 dark:bg-zinc-900 rounded my-5 lg:my-10 text-center pb-10 lg:mx-56 mx-5"
  >
    <h2
      class="font-bold mt-10 text-center lg:text-2xl text-xl text-teal-950 dark:text-teal-500 my-10 pt-5"
    >
      Publica tu propio comentario
    </h2>
    <div class="inline-block">
      <div class="grid grid-cols-1 gap-2">
        <label
          for="descripcion"
          class="font-medium text-neutral-100 text-xl mb-3">Descripción</label
        >
        <textarea
          id="descripcion"
          name="descripcion"
          rows="6"
          class="rounded py-1 px-3 border bg-teal-100 dark:bg-teal-200 border-teal-600 mb-8"
        ></textarea>
      </div>

      <div class="grid grid-cols-1 gap-2">
        <label for="estrellas" class="font-medium text-neutral-100 text-xl mb-3"
          >Valoración</label
        >
        <select
          id="estrellas"
          name="estrellas"
          class="rounded py-1 px-3 border bg-teal-100 dark:bg-teal-200 border-teal-600 mb-8"
        >
          <option value="1">1 estrella</option>
          <option value="2">2 estrellas</option>
          <option value="3">3 estrellas</option>
          <option value="4">4 estrellas</option>
          <option value="5">5 estrellas</option>
        </select>
      </div>

      <input type="hidden" id="quejaId" value={id} />
      <input type="hidden" id="usuarioId" value={usuarioId[0].id} />

      <button
        id="publicarComentario"
        class="bg-teal-300 dark:bg-teal-500 rounded font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950"
        >Publicar comentario
      </button>

      <script src="./insertComentario.js"></script>
    </div>
  </div>
</form>
<div class="flex justify-center items-center">
  <a
    id="hacerComentario"
    href="#"
    class="bg-teal-300 dark:bg-teal-500 rounded font-semibold px-4 py-2 hover:bg-teal-200 dark:hover:bg-teal-600 text-teal-950"
    >Hacer comentario</a>
</div>
