<section class="bg-teal-500 dark:bg-teal-600 p-8 md:p-10 rounded lg:mx-56 mx-5">
  <h2
    class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4 text-center text-teal-100 dark:text-teal-950"
  >
    Queja Ciudadana
  </h2>
  <p class="text-lg md:text-xl lg:text-xl text-neutral-100 dark:text-zinc-900 text-center">
    Transformando quejas en acción, construyendo una ciudad mejor
  </p>
</section>
