---
import CambiarTema from "../components/cambiarTema.jsx";
---

<footer class="bg-teal-500 dark:bg-teal-600 py-10 mt-10" transition:animate="none">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4 text-teal-950"
  >
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
    </div>
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    <div>
      <h4 class="font-bold text-xl">Social Links</h4>
      <a href="http://www.facebook.com">Facebook</a>
      <a href="http://www.instagram.com">Instagram</a>
      <a href="http://www.twitter.com">Twitter</a>
    </div>
    <div>
      <CambiarTema client:only/>
    </div>
  </div>
</footer>
