<nav class="bg-teal-600">
  <div class="flex items-center justify-between p-4 max-w-screen-xl mx-auto">
    <div>
      <ul class="font-medium flex items-center gap-4">
        <li>
          <a href="/" class="block text-zinc-900 dark:text-teal-950">Inicio</a>
        </li>
        <li>
          <a href="/misQuejas" class="block text-zinc-900 dark:text-teal-950">Mis quejas</a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="font-medium flex items-center gap-4">
        <li>
          <a href="/miPerfil" class="dark:text-teal-950">
            <i class="fas fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
