---
import CambiarTema from "../components/cambiarTema.jsx";
const currentUrl = new URL(Astro.request.url);
const currentPath = currentUrl.pathname;
---

<nav class="bg-teal-500 dark:bg-teal-600" transition:animate="none">
  <div class="flex items-center justify-between p-2 max-w-screen-xl mx-auto">
    <div>
      <ul class="font-medium flex items-center gap-4">
        <li>
          <a
            href="/"
            class={`block ${currentPath === "/" ? "font-bold border-b-2 border-teal-950" : ""}`}
          >
            <img
              src="../../../logoQC.png"
              alt="Logo"
              class="h-16"
              onclick="window.location.href='/'"
            />
          </a>
        </li>

        <li class="lg:hidden">
          <button
            onclick="document.getElementById('nav').classList.toggle('hidden')"
          >
            <i class="fas fa-bars"></i>
          </button>
        </li>

        <li id="nav" class="hidden lg:flex">
          <a
            href="/quejas"
            class={` p-5 block ${currentPath === "/quejas" ? "font-bold border-b-2 border-teal-950" : ""}`}
          >
            Consultar quejas
          </a>
          <a
            href="/misQuejas"
            class={`p-5 block ${currentPath === "/misQuejas" ? "font-bold border-b-2 border-teal-950" : ""}`}
          >
            Mis quejas
          </a>
          <a
            href="/publicarQueja"
            class={`p-5 block ${currentPath === "/crearQueja" ? "font-bold border-b-2 border-teal-950" : ""}`}
          >
            Publicar queja
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="font-medium flex items-center gap-4">
        <li>
          <CambiarTema client:only />
        </li>

        <li>
          <a
            href="/miPerfil"
            class={`block ${currentPath === "/miPerfil" ? "font-bold border-b-2 border-teal-950" : ""}`}
          >
            <i class="fas fa-user"></i>
          </a>
        </li>
        <li>
          <a href="/api/auth/signout">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
